FastAPI[standard]
pydantic
typing
python-dotenv
SQLModel
uvicorn[standard]

langchain-community
langchain-core
langchain-groq
langgraph

serpapi
jinja2
trafilatura
googlesearch-python
google-search-results